<div class="msg-list">
	<% @messages.reverse.each do |msg| %>
	<div class="msg-item">
		<% if User.find_by_id(msg.sender_id) != current_user %>
			<div class="msg-other"><%= msg.body %></div>
			<div class="msg-sender"><%= User.find_by_id(msg.sender_id).name %></div>
		<% else %>
			<div class="msg-me"><%= msg.body %></div>
		<% end %>
	</div>
	<% end %>
</div>
<%= form_tag('/conversations/' + @conversation.id.to_s + '/reply', :method => 'put', :remote => true) do %>
<%= text_field_tag(:body) %>
<%= submit_tag("Send") %>
<% end %>
