%ul.nav.nav-tabs
	%li.active.tab.my_routes
		%a(href="#my_routes" data-toggle="tab")
			我的路线
			= @user.route_records.count
	%li.tab.saved_routes
		%a(href="#saved_routes" data-toggle="tab")
			我收藏的路线
			= @user.fav_relations.count
	%li.tabl.match_requests
		%a(href="#match_requests" data-toggle="tab")
			我的请求
			= @match_count
	%li.tab.new_search
		%a(href="#new_search" data-toggle="tab")
			+搜索
	#view_switch.btn-group{"data-toggle"=>"buttons-radio"}
		%a#view_list.btn.btn-primary.active
			列表
		%a#view_chart.btn.btn-primary
			时间轴
		%a#view_map.btn.btn-primary
			地图

.tab-content
	#filter_wrapper
		#map_left.imgborder
			#map_container.imgborder
		#filter_panel
			= render 'shared/filter_panel'
	.tab-pane.active#my_routes
		.row-fluid
			.span3

			.span9
				.btn_back#my_routes_back
					&lt;
				.route_table#table_mine
					= render 'table_mine'
	.tab-pane#saved_routes
		.row-fluid
			.span3
				#filter_wrapper
			.span9
				.btn_back#saved_routes_back
					&lt;
				.route_table#table_fav
					= render 'table_fav'
	.tab-pane#match_requests
		.row-fluid
			.span3
				#filter_wrapper
			.span9
				#match_request_wrap
					.btn_back#match_requests_back
						&lt;
					.route_table#table_match
						= render 'table_match'
	.tab-pane#new_search
		.row-fluid
			.span12
				#search_panel
					= render 'search_view'
				#search_result
	

