.request_list
	.avatar
		%img(src="/assets/rails.png" class="img-circle")
	.request_info
		.name
			= match_request.user.email
		.from
			= match_request.from
		.to
			= match_request.to
		.arrive_time
			= match_request.arrive_time
		.freq_pattern
			= match_request.freq_pattern
	.request_info.hidden
		.request_lat_s
			= match_request.lat_s
		.request_lng_s
			= match_request.lng_s
		.request_lat_d
			= match_request.lat_d
		.request_lng_d
			= match_request.lng_d
		.request_freq
			= match_request.freq_pattern
	.request_action
		%a(href="/match_requests/#{match_request.id}" data-remote="true")
			%button.btn#view-btn
				匹配结果
		%a(href="/match_requests/#{match_request.id}" data-method="delete" data-remote="true" rel="nofollow")
			%button.btn#del-btn
				删除