<tr>
	<td class="id"><%= match_result.id %></td>
	<td class="from"><%= match_result.from %></td>
	<td class="to"><%= match_result.to %></td>
	<td class="created"><%= time_ago_in_words(match_result.created_at) %> ago</td>
	<td id="toggle_req_<%= match_result.id %>" class="button">
		<% if @match_request.request_sent?(match_result) %>
		
		<%= render "/route_records/cancel_req", :match_result_id => match_result.id %>

		<% else %>

		<%= render "/route_records/send_req", :match_result_id => match_result.id %>

		<% end %>
	</td>
</tr>