<%= form_for(@route_record) do |f| %>
<div class="field">
  <%= f.label :from %><br>
  <%= f.text_field :from %>
</div>
<div class="field">
  <%= f.label :to %><br />
  <%= f.text_field :to %>
</div>
<div class="field">
  <%= f.label :data %><br />
  <%= f.text_field :data %>
</div>

<div class="actions">
  <%= f.submit "Confirm"%>
</div>
<% end %>
